################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Senify/v15/.suo
/Zensify/.vs/Zensify/v15/.suo
